<%- include('partials/header') %>

<main>
    <h1>ORGANIZATIONS</h1>
    <p>Here are a few of our partner organizations:</p>
    <ul>
    <% organizations.forEach(org => { %>
        <li>
            <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">

            <strong><%= org.name %></strong><br>

            <%= org.description %><br>

            <%= org.contact_email %>
        </li>
    <% }) %>
</ul>
</main>

    
<%- include('partials/footer') %>