<%- include('partials/header') %>

<main>
    <h1>PROJECTS</h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
    <li>
        <strong><%= project.title %></strong><br>
        Organization: <%= project.organization_name %><br>
        Location: <%= project.location %><br>
        Date: <%= project.project_date %>
    </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>