<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Upcoming Service Projects</h2>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a>
                </strong><br>

                Organization:
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a><br>

                Location: <%= project.location %><br>

                Date: <%= project.project_date %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>